.btn {
  padding: $grid-gutter-width/4 $grid-gutter-width/2;
  border-width: 1px;
  border-style: solid;
  color: $c-sub-text;
  font-size: 0.9em;
  text-transform: uppercase;
  outline: none;

  // Primary Button Style
  &.btn-primary {
    background: $c-accent;
    border: none;
    color: $c-accent-contrast;

    &:hover {
      background: darken($c-accent, 5);
      color: darken($c-accent-contrast, 5);
    }

    &:focus {
      outline: none !important;
    }
  }

  // Link Button Style
  &.btn-link {
    background: none;
    border: none;

    font-size: 0.9em;
    color: $c-sub-text;
    text-transform: capitalize;

    &.btn-link-primary {
      color: $c-accent;
    }

    &.btn-link-underline {
      text-decoration: underline;
    }

    &:hover {
      opacity: 0.8;

      border: none;

      background: none;
      cursor: pointer;

      text-decoration: underline;
    }

    &:active {
      background: none !important;

      color: $c-sub-text !important;
    }

    &:focus {
      box-shadow: none !important;
    }

  }

  //// Contrast Button Style
  //&.btn-contrast {
  //  background: none;
  //  border: 1px solid $c-accent-contrast;
  //  color: $c-accent-contrast;
  //
  //  &:hover {
  //    border-color: darken($c-accent-contrast, 50);
  //    color: darken($c-accent-contrast, 50);
  //  }
  //}
  //
  //// Big Button Style
  //&.btn-big {
  //  font-size: 1em;
  //  padding-top: $grid-gutter-width /2;
  //  padding-bottom: $grid-gutter-width /2;
  //}
  //
  //// Wide Button Style
  //&.btn-wide {
  //  padding-right: $grid-gutter-width;
  //  padding-left: $grid-gutter-width;
  //}
  //
  //&.btn-fab {
  //  width: 3.5em;
  //  height: 3.5em;
  //  border-radius: 50%;
  //}

  //// Vertical Button Grouping
  //&.btn-group-vertical {
  //  display: block;
  //  width: 100%;
  //  margin: 0;
  //  border: none !important;
  //  //border-bottom: 1px solid $c-depth-1-border;
  //  background: none;
  //  border-radius: 0 !important;
  //  color: $c-sub-text;
  //  font-size: 1em;
  //  text-align: left;
  //  text-transform: none;
  //  &:first-child {
  //  }
  //  &:last-child {
  //    border-bottom: none;
  //  }
  //
  //  &:focus {
  //    box-shadow: none !important;
  //    outline: none !important;
  //    background: none !important;
  //    color: $c-accent !important;
  //  }
  //
  //  &:hover {
  //    color: $c-black-text;
  //    text-decoration: underline;
  //    background: none;
  //  }
  //}

}
