//== Common
//
//## Common vars used throughout various elements.

$border-radius: 6px;
$button-border-radius: 60px;

////== Colors
//
//## Brand and Element colors.
$c-accent: #E94D4F !default;
$c-accent-contrast: #fff;
$c-tooltip-blue: #11A3D5;

//Brand colours
$c-brand-blue: #40e0d0;
$c-brand-blue-darker: #3fa8bf;

// Base
$c-white: #fff;
$c-base-text: #282828;
$c-base-bg: #f5f5f5;
$c-base-border: #E6E6E6;
$c-black-text: #111;
$c-white-text: #fff;
$c-grey-border: #ddd;
$c-grey-dark: #343434;
$c-grey-medium: #7C7C7C;
$c-grey-lighter: #CBCBCB;

// Sub
$c-sub-text: #717171;
$c-sub-bg: #fff;
$c-sub-border: #e8e8e8;

// Depth 1 (additional content details)
$c-depth-1-text: #555;
$c-depth-1-bg: #f6f6f6;
$c-depth-1-border: #c6c6c6;
$bs-depth-1-shadow: -3px -1px 3px #ddd;

// Depth 2 (playlist panel heading)
$c-depth-2-text: #555;
$c-depth-2-bg: #e0e0e0;
$c-depth-2-border: #b0b0b0;

// Depth 3 (media content list content type tabs)
$c-depth-3-text: #aaa;
$c-depth-3-bg: #343434;
$c-depth-3-border: #222;

// Depth 4 (main menu bg)
$c-depth-4-text: #aaa;
$c-depth-4-bg: #282828;
$c-depth-4-border: #111;

// Depth 5 (search box)
$c-depth-5-text: #aaa;
$c-depth-5-bg: #111;
$c-depth-5-border: #111;

// Depth 6 (inner user menu - pop up)
$c-depth-6-bg: #4B4B4B;
$c-depth-6-border: #95989A;

$c-hovered-text: #555;
$c-hovered-bg: #e8e8e8;
$c-hovered-border: #eaeaea;

$c-selected-text: #555;
$c-selected-bg: #f6f6f6;
$c-selected-border: #eaeaea;

$c-error: #E94D4F;
$c-warning: #FBBF07;
$c-success: #009474;
$c-info: #10A3D5;
$c-upload: #167eda;

// active hover
$c-active-hover :#EDEDED;

// Colors for buttons
$c-button-text: $c-base-text;
$c-button-bg: $c-base-bg;
$c-button-border: $c-base-border;

$c-button-hovered-text: $c-hovered-text;
$c-button-hovered-bg: $c-hovered-bg;
$c-button-hovered-border: $c-hovered-border;

$c-button-pressed-text: $c-button-text;
$c-button-pressed-bg: $c-button-bg;
$c-button-pressed-border: $c-button-border;

// Gradients
//$c-blue-striped-linear-gradient: linear-gradient(45deg,rgba(255,255,255,.3) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.3) 50%,rgba(255,255,255,.3) 75%,transparent 75%,transparent);

// Shadows
$c-shadow-left: -2px 1px 6px 0px rgba(184, 184, 184, 0.8);

////** Padding between columns or parents. Divide in half for the left and right.
$grid-gutter-width: 20px !default;

//== Typography
//
//## Define resizing text vars, using typi. https://github.com/zellwk/typi

$font-family-light: 'applearnlight', Helvetica, Arial;
$font-family-medium: 'applearnmedium', Helvetica, Arial;

$breakpoints: (
        small: 800px,
        large: 1200px
);

$typi: (
        null: 11px,
        small: 13px,
        large: 15px
);

//== Buttons
//
//## Define button styling
$button-dialog-width: 100px;
$button-dropdown-width: 125px;
$circle-button-radius: 35px;