@import 'base/base';

.footer {
  height: 250px;
  background: $c-brand-blue;

  .footer__container {
    display: flex;
    flex-flow: wrap;
  }

  .footer__content-item {
    margin: auto auto $grid-gutter-width*5;

    .footer__content-item__text-container {
      background: $c-white;
      box-shadow: 0px 15px 15px grey; //could use a mixin

      width: 329px;
      height: 142px;

      padding: $grid-gutter-width/2;
      text-align: left;

      h2 {
        color: $c-brand-blue;
      }
    }
  }
}