@import "base/base";

input[type="text"] {
  &.ng-valid[required], .ng-valid.required {
    border-left: 5px solid $c-success;
  }

  &.ng-invalid:not(form) {
    border-left: 5px solid $c-error;
  }
}

.contact__form {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 510px;
  height: 350px;
  background: $c-brand-blue;
  padding: $grid-gutter-width;
  
  .contact__form-header {
    color: $c-white;
    text-transform: uppercase;
  }

  .contact__form-input, .contact__form-input__box {
    padding: 5px;
    opacity: 0.8;
    background: white;
    width: 95%;
    
    &.contact__form-input__box {
      width: 50%;
      height: 100px;
    }
  }

  .contact__form-input__box[type="placeholder"] {
    position: relative;
    top: 0;
  }

  .contact__form--submit {
    text-transform: uppercase;
    font-size: 1.1em;
    position: absolute;
    right: 775px;
    top: 316px;
    color: white;
 
    @media (max-width: $custom-breakpoint) {
      display: none;
    }
  }
}
