@import 'base/base';

header {
    height: 500px;

    background-image: url('../../../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 15px $c-brand-blue-darker solid;

    h2 {
        color: $c-white;
        text-align: center;
        top: 50%;
        position: relative;
    }

    .header__button-container {
        position: relative;
        top: 70%;
        right: 16%;
        float: right;

        display: inline-flex;

        //make this re-usable
        button {
            color: #fff;
            background: rgba(64, 224, 208, 0.8); //revisit use of rgba vars

            text-decoration: none;
    
            width: 300px;
            padding: 15px 20px;
            text-align: center;
    
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;  
    
            display: block;
            margin: 10% auto 10% 3%;
            transition: background-color 100ms ease-in-out;
            position: relative;
            border: none;
            bottom: 17px;

            &:last-child {
                background: rgba(63, 168, 191, 0.8); //revisit use of rgba vars
                &:hover {
                    background: darken($c-brand-blue-darker, 20);
                }
            }
    
            &::after {
                content: '';
                position: relative;
                width: 1em;
                height: 1em;
                border-right: .1em solid #fff;
                border-bottom: .1em solid #fff;
                transform: rotate(-45deg);
                top: 3px;
                display: inline-block;
                margin-left: 1em;
              }
    
              &:hover, &:focus {
                color: #fff;
                outline: none;
                background-color: darken($c-brand-blue, 15);
                text-decoration: none;
              }
          }
    }
}