@import "base/base";

.nav {
  display:-webkit-flex;
  display:flex;
  list-style-type:none;
  padding:0;
  justify-content:flex-end;
  background: white;

  right: 0;
  width: 95%;
  position: absolute;

    i {
    color: $c-brand-blue;
    position: relative;
    top: 26px;
    margin: 5px 10px 3px 0px;
  }

  .nav__nav-logo {
    padding: 10px;
  }

  .nav__nav-link a {
        padding: $grid-gutter-width*1.5 $grid-gutter-width 0px;
        text-transform: uppercase;
        display: flex;
        vertical-align: middle;
        color: $c-base-text;
        text-decoration: none;

        @media (max-width: $custom-breakpoint) {
          display: none;
        }
    
    
        &:hover {
          color: $c-brand-blue;
          cursor: pointer;
        }
    }

    .nav__search-input {
      display: block;

      height: 35px;
      border: none;
      outline: none;

      padding: 15px;
      margin: 22px;

      &:hover, &:focus {
          cursor: pointer;

          background: lighten($c-brand-blue, 40);
          transition: background 0.5s ease;
      }
    }
}

.nav--pull-left {
  margin-right: auto;
}