@import 'base/base';

.body {
    font-family: $main-font;
    overflow-x: none;
}

.content-block {

    .content-block__col {
        display: inline-block;
        padding: $grid-gutter-width $grid-gutter-width $grid-gutter-width;

    }
    .content-block__link {
        color: $c-brand-blue;
        text-decoration: underline;
        margin-right: $grid-gutter-width / 2;
        cursor: pointer;
    }

    i {
        position: relative;
        right: 225px;
        top: 128px;
        font-size: 2em;
        color: $c-brand-blue;

        @media (max-width: $mobile) {
            display: none;
        }
    }

    .content-block__twitter-feed {
        top: 40px;
        position: relative;

        overflow: hidden;
        display: block;

        max-width: 350px;

        text-overflow: ellipsis;
        white-space: initial;

        font-size: 1.3em;
        white-space: initial;

        .user, .timePosted, .interact {
            display: none;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

    .pull-right {
        text-align: center;
        vertical-align: middle;
        top: 16%;
        max-width: 30%;
    }

    .glide__bullets {
        top: 7em;
        color: black;
    }
    
}

.logo-bar {
    display: block;
    width: 100%;
    background: $c-brand-blue-darker;
    border-bottom: 15px solid black;
    
    .logo-bar__container {
        margin: auto;
        text-align: center;
    }

    .logo-bar__img {
        margin: 30px $grid-gutter-width*3.5 30px;
    }   
}

.contact {
    .contact__container {
        padding: 50px;
    }

    h1 {
        text-align: center;
    }

    .pull-right {
        padding: $grid-gutter-width*2;
    }

    .contact__img {
        position: absolute;
        left: -309px; //revisit neg margins
    }

    .contact__img--right {
        position: absolute;
        left: 1119px;
        overflow: hidden;
        z-index: -10;
        top: 1020px;
        max-width: 795px;
    }
}